.article{
	font-family: "Basier", sans-serif;
	width: 1000px;
	margin-left: 15%;
	margin-right: 15%;
}

.story-header{
	font-family: "Basier", sans-serif;
	font-size: 20px;
	margin-left: 50px;
}

.story-header h1{
	font-size: 46px;
	margin-bottom: 0px;
}

.byline{
	font-weight: bold;
	margin-bottom: 10px;
}

.story-copy{
	font-family: "Pensum", sans-serif;
	font-size: 20px;
}

.photo{
	width: 90%;
}

.photo-caption{
	margin-top: 0px;
	font-size: 14px;
	color: gray;
}

.big-photo{
	width: 75%;
}

.footer{
	font-family: "Basier", sans-serif;
	margin-top: 30px;
	margin-bottom: 30px;
}

.footer-info{
	color: gray;
	font-size: 14px;
}
